<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
  <package id="Prism.Forms" version="7.0.0.396" targetFramework="net461" />
  <package id="Prism.Unity.Forms" version="7.0.0.396" targetFramework="net461" />
  <package id="Unity" version="5.5.5" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="net461" />
  <package id="Xamarin.Forms.Mocks" version="2.5.0.4" targetFramework="net461" />
  <package id="xunit" version="2.3.1" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net461" />
  <package id="xunit.core" version="2.3.1" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net461" />
  <package id="xunit.runner.visualstudio" version="2.3.1" targetFramework="net461" developmentDependency="true" />
</packages>